<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070676827913-p520jdcn8h58iql44i2d4ou2gq0qfngk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070676827913-p520jdcn8h58iql44i2d4ou2gq0qfngk</string>
	<key>API_KEY</key>
	<string>AIzaSyATjq3yN-fEk04eUg7WqUDmJBYDvF22N-I</string>
	<key>GCM_SENDER_ID</key>
	<string>1070676827913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emresagiroglu.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-a3ca7</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-a3ca7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070676827913:ios:30d1428d9e6236e1cabdd8</string>
</dict>
</plist>